/* reset */
$min-width: 320px;
$max-width: 1250px;
$base-bg: #101012;
$base-font-size: 13px;
$base-line-height: 18px;
$base-font-family: "Montserrat", sans-serif;
$custom-font-family: "Montserrat", sans-serif;
$link-color: #100da9;
$default-transition: all 0.2s linear;
/* main variables */

//text, titles
$text-color: #ffffff;
$title-color: #1f2023;
$title-font-family: $custom-font-family;

$font-size-h1: 96px;
$line-height-h1: 100px;
$font-size-h2: 70px;
$line-height-h2: 85px;
$font-size-h3: 28px;
$line-height-h3: 32px;
